<h3>{{title}}</h3>


<table *ngIf="dataLoaded==true" class="table table-bordered">
    <thead>
        <th>Rental Id</th>
        <th>Brand Name</th>
        <th>Car Name</th>
        <th>Customer Name</th>
        <th>Rent Date</th>
        <th>Return Date</th>
    </thead>
    <tbody>
        <tr *ngFor="let rental of rentals">
            <td>{{rental.rentalId}}</td>
            <td>{{rental.brandName}}</td>
            <td>{{rental.carName}}</td>
            <td>{{rental.customerName}}</td>
            <td>{{rental.rentDate}}</td>
            <td>{{rental.returnDate}}</td>
        </tr>
    </tbody>
</table>
