<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-car></app-car>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-rental></app-rental>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <app-brand></app-brand>
    </div>
    <div class="col-md-4">
      <app-color></app-color>
    </div>
    <div class="col-md-4">
      <app-customer></app-customer>
    </div>
  </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
