<h4>{{title}}</h4>


<table class="table table-bordered"
       *ngIf="dataLoaded==true">
    <thead>
        <th>Car Id</th>
        <th>Car Name</th>
        <th>Brand Name</th>
        <th>Color Name</th>
        <th>Daily Price</th>
    </thead>
    <tbody>
        <tr *ngFor="let car of cars"
            routerLink="/cars/car-detail/{{car.carId}}">
            <td>{{car.carId}}</td>
            <td>{{car.carName}}</td>
            <td>{{car.brandName}}</td>
            <td>{{car.colorName}}</td>
            <td>{{car.dailyPrice}}</td>
        </tr>
    </tbody>
</table>
