<div class="col-md-12">
  <div class="card">

    <div class="card-header">
      <h5 class="card-title text-center">Update Account Information</h5>
    </div>

    <div class="card-body">

      <form [formGroup]="userInfosUpdateForm">

        <div class="mb-3 row">
          <label for="firstName" class="col-sm-2 col-form-label">First Name:</label>
          <div class="col-sm-10">
            <input type="text" id="firstName" [ngModel]="user.firstName" formControlName="firstName" class="form-control"/>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="lastName" class="col-sm-2 col-form-label">Last Name:</label>
          <div class="col-sm-10">
            <input type="text" id="lastName" [ngModel]="user.lastName" formControlName="lastName" class="form-control"/>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="email" class="col-sm-2 col-form-label">Email:</label>
          <div class="col-sm-10">
            <input type="email" id="email" [ngModel]="user.email" formControlName="email" class="form-control" />
          </div>
        </div>

      </form>

    </div>

    <div class="card-footer">
      <button class="btn btn-success w-100" (click)="updateUserInfos()">Update</button>
    </div>

  </div>
</div>

