<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="#">Rent A Car</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="cars">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="carlist">Cars</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="brandlist">Brands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="colorlist">Colors</a>
        </li>
      </ul>
      <span class="my-2 my-lg-0">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" *ngIf="isLoggedIn() == false">
            <a class="nav-link" routerLink="register">Register</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn() == false">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <div class="dropdown dropleft" *ngIf="isLoggedIn() == true">
            <li class="nav-item">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ userDetails.firstName + " " + userDetails.lastName }}
                        <span class="label label-warning"> FS: {{ customerUser.findeksScore }} </span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" routerLink="/updateinfos"><i class="fa fa-edit"></i>&nbsp;Update Account Information</a>
                  <a class="dropdown-item" routerLink="/updatepassword"><i class="fa fa-lock"></i>&nbsp;&nbsp;Change Password</a>
                  <a class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out"></i>&nbsp;Logout</a>
                </div>
            </li>

          </div>
          <li class="nav-item">
            <app-cart-summary></app-cart-summary>
          </li>
        </ul>
      </span>
    </div>

  </nav>
