<div class="col-md-12">
  <div class="card">

    <div class="card-header">
      <h5 class="card-title text-center">Change Password</h5>
    </div>

    <div class="card-body">

      <form [formGroup]="userPasswordUpdateForm">

        <div class="mb-3 row">
          <label for="firstName" class="col-sm-3 col-form-label">Current Password:</label>
          <div class="col-sm-9">
            <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control"/>
          </div>
        </div>

        <div class="mb-3 row">
          <label for="lastName" class="col-sm-3 col-form-label">New Password:</label>
          <div class="col-sm-9">
            <input type="password" id="newPassword" formControlName="newPassword" class="form-control"/>
          </div>
        </div>

      </form>

    </div>

    <div class="card-footer">
      <button class="btn btn-success w-100" (click)="updateUserPassword()">Update</button>
    </div>

  </div>
</div>

